# Node / pnpm
node_modules
.pnpm-store
.turbo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
logs

# Build outputs
.next
dist
build
coverage

# macOS
.DS_Store

# Expo
.expo
.expo-shared
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build

# Android / iOS
*.apk
*.aab
*.ipa
*.app
ios/
android/

# GitHub Workflows (exclude deploy.yml)
.github/workflows/*.yml
!.github/workflows/deploy.yml
